/* Nastavi display: none; za elemente, ki morajo biti na začetku skriti */
#gesloRegistracija {
    display: none;
}

#prijava2FA-QR {
    display: none;
}

#registracija2FA {
    display: none;
}

#registracija2FA-QR {
    display: none;
}

#registracijaAvtentikator {
    display: none;
}

#registracijaAvtentikatorGeslo {
    display: none;
}

#registracijaBrezGesla {
    display: none;
}