body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer-bottom {
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.fb-logo-padding {
  padding-right: 10px;
  padding-left: 3px;
}

#white-line {
  color: white;
  background-color: white;
  height: 1px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 8px;
}

.jumbo-position {
  margin-top: 12vh;
}

.lead-margins {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.menu-link {
  color: #6610f2;
  text-decoration: underline;
  margin-right: 10px;
  padding: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.key-display {
  border-radius: 4px;
  background-color: white;
  padding: 12px;
}