.tabs {
    overflow: hidden;
    border: 1px solid #630e8e;
    background-color: #ede8ef;
}

/* Style the buttons inside the tab */
.tabs button {
    background-color: #844a9b; /*prej inherit*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: table-cell;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #3d124f;
    color: #ede8ef;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #2e053f;
    color: #ede8ef;
}

.tab-option {
    width: 20%;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #630e8e;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 500ms; /* Fading effect takes x miliseconds */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* CONTAINING ELEMENTS */
.switcher {
    color: #005cbf;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

.inner {
    width: 35%;
    margin: 0 auto;
}

.login-header {
    text-align: center;
    font: 3em "Lucida Grande", Arial, sans-serif;
    color: #3d124f;
    padding-top: 12px;
    padding-bottom: 12px;
}

.fb-btn-position {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}