extends layout
include mixin.pug

block content
  h1.display-4 Spletno overjanje
  p.lead.lead-margins Na tem portalu lahko preizkusite različne načine prijave v spletna mesta.
  != messages('messages', locals)
  #uiMessage

  .tabs
    button(onclick='showOption(event, "Geslo")').tab-option Geslo
    button(onclick='showOption(event, "2FA")').tab-option Dvofaktorska prijava
    button(onclick='showOption(event, "Avtentikator")').tab-option Avtentikator
    button(onclick='showOption(event, "BrezGesla")').tab-option Brez gesla
    button(onclick='showOption(event, "FacebookPrijava")').tab-option Facebook prijava

  .tabcontent#Geslo
    +prijavaZGeslom

  .tabcontent#2FA
    +prijava2FA

  .tabcontent#Avtentikator
    +prijavaAvtentikator

  .tabcontent#BrezGesla
    +prijavaBrezGesla

  .tabcontent#FacebookPrijava
    +facebookPrijava