doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="javascripts/jquery-3.3.1.min.js")
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/tabs.css')
    link(rel='stylesheet', href='stylesheets/hide-elements.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body(background='images/background_beach.jpg')
    .container
      .jumbotron.jumbo-position
        block content

    br
    .footer-bottom
      #white-line
      footer
        p Copyright &copy; Blaž Milar 2018
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/show-logins.js')
    script(src='javascripts/inputChecker.js')
    script(src='javascripts/webauthn.auth.js')
    script(src='javascripts/tabs-menu.js')
    script(src='javascripts/base64url-arraybuffer.js')
    script(src='javascripts/helpers.js')