extends layout

block content
    .inner
        p.lead Vnesite kodo
        form(action='/login-otp', method='POST').form-horizontal
            .form-group
                label.col-xs-10.col-sm-2.control-label Koda
                input(type='text', name='code').form-control
                br
                input(type='submit', value="Potrdi").btn.btn-primary