.messages
  each type in Object.keys(messages)
    each message in messages[type]
      div(class='alert alert-' + type) #{message}
        button(type='button', class='close', data-dismiss='alert' aria-label='close')
          span(aria-hidden='true') &times;