//- PRIJAVA Z GESLOM
mixin prijavaZGeslom
    #gesloPrijava
        .login-header Prijava
        br
        .inner
            form(action='/gesloPrijava', method='POST', role='form', name='passLogin', onsubmit="return checkLogin('passLogin')").form-horizontal#gesloPrijavaForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name="email", placeholder="janez.novak@mail.si", type="email")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password") Geslo
                    input.form-control.input-sm(name="password", type='password')
                input(type="submit", value="Prijava").btn.btn-primary
                p Še nimate računa?
                    span.switcher#switchToRegister Registracija

    #gesloRegistracija
        .login-header Registracija
        br
        .inner
            form(action='/gesloRegistracija', method='POST', role='form', name='passRegister', onsubmit="return checkRegister('passRegister')").form-horizontal#gesloRegistracijaForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="name") Ime
                    input.form-control(placeholder="Janez", name='name')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="surname") Priimek
                    input.form-control.input-sm(name="surname", placeholder="Novak")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name='email', placeholder="janez.novak@mail.si", type='email')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password") Geslo
                    input.form-control.input-sm(name="password", type='password')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password2") Potrdi geslo
                    input.form-control.input-sm(name="password2", type='password')
                input(type="submit", value="Registracija").btn.btn-primary
                p Že imate račun?
                    span.switcher#switchToLogin Prijava




//- PRIJAVA Z DVOFAKTORSKO AVTENTIKACIJO
mixin prijava2FA
    #prijava2FA
        .login-header Dvofaktorska prijava
        br
        .inner
            form(action='/prijavaTwoFAGeslo', method='POST', name='2FALogin', onsubmit="return checkLogin('2FALogin')").form-horizontal#prijava2FAForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name="email", placeholder="janez.novak@mail.si", type="email")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password") Geslo
                    input.form-control.input-sm(name="password", type='password')
                input(type="submit", value="Prijava").btn.btn-primary
                p Še nimate računa za dvofaktorsko avtentikacijo?
                    span.switcher#switchTo2FARegister Registracija

    //- sprehod čez seznam errorjev, prikažemo vsakega
    #registracija2FA
        .login-header Registracija za 2FA račun
        br
        .inner
            form(name="reg2FA", action='/gesloRegistracija', method='POST', role='form', onsubmit="return checkRegister('reg2FA')").form-horizontal#registracija2FAForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="name") Ime
                    input.form-control(placeholder="Janez", name='name')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="surname") Priimek
                    input.form-control.input-sm(name="surname", placeholder="Novak")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name='email', placeholder="janez.novak@mail.si", type='email')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password") Geslo
                    input.form-control.input-sm(name="password", type='password')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="password2") Potrdi geslo
                    input.form-control.input-sm(name="password2", type='password')
                input(type="submit", value="Registracija").btn.btn-primary
                p Že imate račun za dvofaktorsko avtentikacijo?
                    span.switcher#switchTo2FALogin Prijava




//- AVTENTIKATOR
mixin prijavaAvtentikator
    #prijavaAvtentikator
        .login-header Prijava z avtentikatorjem
        br
        .inner
            p Vpišite svoj uporabniški e-naslov in pritisnite na gumb Prijava.
            p Nato izvedite avtorizacijsko gesto na vašem avtentikatorju.
            form(role='form', name='webauthnLogin', onsubmit="return checkLogin('webauthnLogin')").form-horizontal#prijavaAvtentikatorForm
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name="email", placeholder="janez.novak@mail.si", type="email")
                input(type="submit", value="Prijava").btn.btn-primary
                p Še niste registrirali avtentikatorja?
                    span.switcher#switchToAvtentikatorRegister Registracija

    #registracijaAvtentikator
        .login-header Registracija avtentikatorja
        br
        .inner
            p Vpišite podatke in pritisnite na gumb Registracija.
            p Nato izvedite avtorizacijsko gesto na vašem avtentikatorju.
            form(role='form', name='webauthnReg', onsubmit="return checkRegister('webauthnReg')").form-horizontal#registracijaAvtentikatorForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="name") Ime
                    input.form-control(placeholder="Janez", name='name')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="surname") Priimek
                    input.form-control.input-sm(name="surname", placeholder="Novak")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name='email', placeholder="janez.novak@mail.si", type='email')
                input(type="submit", value="Registracija").btn.btn-primary
                p Ste že registrirali avtentikator?
                    span.switcher#switchToAvtentikatorLogin Prijava




//- BREZ GESLA
mixin prijavaBrezGesla
    #prijavaBrezGesla
        .login-header Prijava brez gesla
        br
        .inner
            p Vpišite svoj uporabniški e-naslov in pritisnite na gumb Prijava.
            p Na vaš e-naslov bo poslano sporočilo z žetonom za overjanje.
            form(name='loginBG', action='/sendtoken', method='POST', onsubmit="return checkLogin('loginBG')").form-horizontal#prijavaBrezGeslaForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name="email", placeholder="janez.novak@mail.si", type="email")
                input(type="submit", value="Prijava").btn.btn-primary
                p Še niste registrirani za prijavo brez gesla?
                    span.switcher#switchToBrezGeslaRegister Registracija

    #registracijaBrezGesla
        .login-header Registracija za prijavo brez gesla
        br
        .inner
            form(name="regBG", action='/brezGeslaRegistracija', method='POST', onsubmit="return checkRegister('regBG')").form-horizontal#registracijaBrezGeslaForm
                .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="name") Ime
                    input.form-control(placeholder="Janez", name='name')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="surname") Priimek
                    input.form-control.input-sm(name="surname", placeholder="Novak")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="email") E-naslov
                    input.form-control(name='email', placeholder="janez.novak@mail.si", type='email')
                input(type="submit", value="Registracija").btn.btn-primary
                p Ste že registrirali račun za prijavo brez gesla?
                    span.switcher#switchToBrezGeslaLogin Prijava




//- FACEBOOK PRIJAVA
mixin facebookPrijava
    .login-header Facebook prijava
    br
    .inner
        center
            a(href='/auth/facebook').btn.btn-primary.fb-btn-position
                span.fa.fa-facebook-f.fb-logo-padding
                span Facebook Prijava
