extends layout

block content
    .inner
        h4 Omogoči dvofaktorsko overjanje
        form(action='/login-otp' method='GET')
            p Poskeniraj QR kodo z avtentikatorjem
            center
                img(src='' + qrImage).key-display
            br
            p Ali ročno vnesi spodni ključ
            center
                p.key-display #{key}
            input(type="submit", value="Nadaljuj").btn.btn-primary#TotpSetupCodeScanned
