extends layout

block content
    h1.display-4 Uspešna prijava!
    br
    br
    p.lead Uspešno ste se prijavili kot #{ime} #{priimek}.
    div(data-ride="carousel").carousel.slide#secretCarousel
        ol.carousel-indicators
            li(data-target="#secretCarousel" data-slide-to="0" class="active")
            li(data-target="#secretCarousel" data-slide-to="1")
            li(data-target="#secretCarousel" data-slide-to="2")
        .carousel-inner
            .carousel-item.active
                img(src="images/gozd.jpg", style="height: 590px").d-block.w-100
            .carousel-item
                img(src="images/jezero.jpg", style="height: 590px").d-block.w-100
            .carousel-item
                img(src="images/puscava.jpg", style="height: 590px").d-block.w-100
        a(href='#secretCarousel', role="button", data-slide="prev").carousel-control-prev
            span(aria-hidden="true").carousel-control-prev-icon
            span.sr-only Nazaj
        a(href='#secretCarousel', role="button", data-slide="next").carousel-control-next
            span(aria-hidden="true").carousel-control-next-icon
            span.sr-only Naprej

    br
    br
    button.btn.btn-primary#Logout Odjava